:root {
	--default: #3956e7;
	--default-dark: #2c3eb9;
	--default-bg: #dde1f8;
	--default-border: #dde1f8;
	--bg-color: #fff;
	--bg-contrast: #F1F6FD;
	--bg-contrast-2: #e2ebfd;
	--bg-ui: rgb(8 8 8 / 3%);
	--selection-color: #cbd4dd;
	--font-color: #3c4450;
	--font-color-dark: #3c3b3d;
	--font-color-light: #5b5967;
	--font-color-sub: #666;
	--opposite-color: #111;
	--border-color: #dfe0e5;
	--border-color-accent: #c4c6d0;
	--shadow: rgb(0 0 0 / 15%);
}

.dark-mode {
	--default: #4a7aff;
	--default-dark: #3754b1;
	--default-bg: #2c334a;
	--default-border: #4a4f5c;
	--bg-color: #212830;
	--bg-contrast: #262c36;
	--bg-contrast-2: #2d3443;
	--bg-ui: rgb(255 255 255 / 4%);
	--selection-color: #3b4252;
	--font-color: #d1d2d5; // Texte principal lisible
	--font-color-dark: #d1d5db;
	--font-color-light: #aab0b8;
	--font-color-sub: #8a9099;
	--border-color: rgb(255 255 255 / 10%);
	--opposite-color: #f4f4f4;
	--shadow: rgb(0 0 0 / 30%);
}